
button {
  background: $primary-button-color;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  color: white;
  font-size: 10pt;
  padding: 8px 30px;

  &:hover {
    background: lighten($primary-button-color, 10%);
  }

  &.close {
    background: transparent;
    color: $primary-button-color;

    &:hover {
      color: black;
    }
  }

  &:disabled {
    opacity: 0.5;
    &:hover {
      background: $primary-button-color;
    }
  }
}


.tip {
  &.tip-block {
    background: lighten($color-brand-primary,58);
    border-left: 5px solid lighten($color-brand-primary,55);
    border-radius: $border-radius-small;
    padding: $gap/4 $gap/2;

    p {
     font-size: 10pt;
     line-height: 18px;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
