@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes modal-left {
  from {
    right: -5000px;
  }
  to {
    right: 1px;
  }
}


.modal {

  .modal-container {
    width: fit-content;
    background: #fff;
    display: flex;

    margin: 30px auto;
    height: fit-content;
    position: relative;
    flex-direction: column;
  }


  .modal-close {
    margin: 10px;
    position: absolute;
    right: 0;
    top:0
  }

  &.center {
    .modal-container {
      border: $modal-border;
      border-radius: $modal-border-radius;
      box-shadow: $modal-box-shadow;

    }
  }

  &.right {
    .modal-container {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      display: flex;
      margin: 0;
      padding: 0;
      height: auto;
    }
    .modal-content {
      max-height: 100vh;
    }
    .modal-close {
      left:0;
      right: auto;
    }

    &.has-effect {
      .modal-container {
        animation: modal-left 0.3s;
      }
    }
  }

  .modal-content {
    justify-content: center;
    //align-items: center;
    display: flex;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    max-width: calc(95vw);
    min-width: 300px;
    min-height: 50px;
    padding: $gap;
    flex-direction: column;
    height: 100%;

  }
  .modal-header {
    padding: $gap;
    border-bottom: 1px solid $border-color;
    h1 {
      font-size: 20px;
      margin-bottom: 0px;
    }
  }
  .modal-footer {
    border-top:1px solid $border-color;
    padding: $gap;
    text-align: right;
    button.close {
      padding: 0px 12px;
    }
  }

  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;

  }

  &.has-effect {
    -webkit-animation: modal 0.3s; /* Safari, Chrome and Opera > 12.1 */
    animation: modal 0.3s;
  }




}